<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h2>Projet Node JS</h2>
      <br>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Créer un compte</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Connexion</a>
    </div>
  </div>
</div>
